#pokemon-listing ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

#pokedex a {
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    color: #FFF;
}

.pokemon-sprite {
    view-transition-name: pokemon-sprite;
    contain: layout;
    mix-blend-mode: normal;
    width: 200px;
    aspect-ratio: 1;

    background: #FFF;
    padding: 2rem;
}

.pokedex-display {
    background: lightgray;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex-content {
    text-transform: capitalize;
}

::view-transition-old(pokemon-sprite),
::view-transition-new(pokemon-sprite) {
    mix-blend-mode: normal;
}

::view-transition-image-pair(pokemon-sprite) {
    isolation: none;
}



#pokedex {
    margin: 10% 5%;
    padding: 3rem;
    background: #d20a40;
    border-radius: 10px;
    height: 70%;
    box-shadow: 8px 7px 7px 9px #424242;
}


















html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
body {
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

suunta-view {
  color: #fff;
}

main {
  padding: 2rem;
  border: 2px solid #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  transition: 200ms ease-in-out;
}
